[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
tweepy = "*"
pandas = "*"
python-dotenv = "*"
nltk = "*"
transformers = "*"
torch = "*"

[dev-packages]

[requires]
python_version = "3.7"

[scripts]
dev = "python server.py"
